<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Fifa 20 {{ title }}!
  </h1>
</div>
<div>
  Crédito: {{credits}} <button (click)="AtualizarCredito()">Atualizar</button>
</div>
<div>
  Tentativas: {{tentativas}}
  <br>
  Jogadores Comprados: {{jogadoresComprados}}
</div>
<button (click)="pausar()">Pausar!</button>
<form [formGroup]="searchForm" (ngSubmit)="Executar(searchForm.value)">
  
  <label>
    sID:
    <input type="text" formControlName="sId">
  </label>

  <label>
    Posição:
    <input type="text" formControlName="pos">
  </label>

  <label>
    Preço Máximo:
    <input type="text" formControlName="maxb">
  </label>

  <label>
    ID Jogador:
    <input type="text" formControlName="maskedDefId">
  </label>


  <button type="submit" [disabled]="!searchForm.valid">Executar!</button>
</form>

<div>
  {{resultInScreen}}
</div>

<router-outlet></router-outlet>
